@model Sklep.Models.ViewModel.Admin.AntivirusDetails


<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">1:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Architecture, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "1", @id = "Architecture" } })
        <label class="mdl-textfield__label modal_label--underline" for="Architecture"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">2:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.License, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "2", @id = "License" } })
        <label class="mdl-textfield__label modal_label--underline" for="License"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">3:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.NumOfUser, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "3", @id = "NumOfUser" } })
        <label class="mdl-textfield__label modal_label--underline" for="NumOfUser"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">4:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.NumOfComputer, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "4", @id = "NumOfComputer" } })
        <label class="mdl-textfield__label modal_label--underline" for="NumOfComputer"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">5:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Language, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "5", @id = "Language" } })
        <label class="mdl-textfield__label modal_label--underline" for="Language"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">6:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Platform, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "6", @id = "Platform" } })
        <label class="mdl-textfield__label modal_label--underline" for="Platform"></label>
    </div>
</div>
