@model Sklep.Models.ViewModel.Admin.GraphicsCardViewModel


    <div class="row">
        <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">1:</p>
        <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
            @Html.EditorFor(model => model.MemorySize, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "1", @id = "MemorySize" } })
            <label class="mdl-textfield__label modal_label--underline" for="MemorySize"></label>
        </div>
    </div>
    <div class="row">
        <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">2:</p>
        <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
            @Html.EditorFor(model => model.FrequencyMemory, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "2", @id = "FrequencyMemory" } })
            <label class="mdl-textfield__label modal_label--underline" for="FrequencyMemory"></label>
        </div>
    </div>
    <div class="row">
        <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">3:</p>
        <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
            @Html.EditorFor(model => model.KindOfMemory, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "3", @id = "KindOfMemory" } })
            <label class="mdl-textfield__label modal_label--underline" for="KindOfMemory"></label>
        </div>
    </div>
    <div class="row">
        <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">4:</p>
        <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
            @Html.EditorFor(model => model.MemoryBus, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "4", @id = "MemoryBus" } })
            <label class="mdl-textfield__label modal_label--underline" for="MemoryBus"></label>
        </div>
    </div>
    <div class="row">
        <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">5:</p>
        <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
            @Html.EditorFor(model => model.FrequencyCore, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "5", @id = "FrequencyCore" } })
            <label class="mdl-textfield__label modal_label--underline" for="FrequencyCore"></label>
        </div>
    </div>
    <div class="row">
        <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">6:</p>
        <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
            @Html.EditorFor(model => model.Output, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "6", @id = "Output" } })
            <label class="mdl-textfield__label modal_label--underline" for="Output"></label>
        </div>
    </div>
    <div class="row">
        <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">7:</p>
        <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
            @Html.EditorFor(model => model.PowerConsumption, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "7", @id = "PowerConsumption" } })
            <label class="mdl-textfield__label modal_label--underline" for="PowerConsumption"></label>
        </div>
    </div>
    