@model Sklep.Models.ViewModel.Admin.MotherboardsDetailsViewModel


<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">1:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Standard, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "1", @id = "Standard" } })
        <label class="mdl-textfield__label modal_label--underline" for="Standard"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">2:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Chipset, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "2", @id = "Chipset" } })
        <label class="mdl-textfield__label modal_label--underline" for="Chipset"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">3:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Socket, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "3", @id = "Socket" } })
        <label class="mdl-textfield__label modal_label--underline" for="Socket"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">4:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.MaksimumNumOfProcessors, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "4", @id = "MaksimumNumOfProcessors" } })
        <label class="mdl-textfield__label modal_label--underline" for="MaksimumNumOfProcessors"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">5:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.KindOfMemoryRAM, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "5", @id = "KindOfMemoryRAM" } })
        <label class="mdl-textfield__label modal_label--underline" for="KindOfMemoryRAM"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">6:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.NumOfSlotsMemoryRAM, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "6", @id = "NumOfSlotsMemoryRAM" } })
        <label class="mdl-textfield__label modal_label--underline" for="NumOfSlotsMemoryRAM"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">7:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.MaksimumCapaticyMemoryRAM, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "7", @id = "MaksimumCapaticyMemoryRAM" } })
        <label class="mdl-textfield__label modal_label--underline" for="MaksimumCapaticyMemoryRAM"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">8:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.IntegratedGraphicsCard, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "8", @id = "IntegratedGraphicsCard" } })
        <label class="mdl-textfield__label modal_label--underline" for="IntegratedGraphicsCard"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">9:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.SoundChipset, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "9", @id = "SoundChipset" } })
        <label class="mdl-textfield__label modal_label--underline" for="SoundChipset"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">10:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.IntegratedNetworkCard, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "10", @id = "IntegratedNetworkCard" } })
        <label class="mdl-textfield__label modal_label--underline" for="IntegratedNetworkCard"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">11:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Output, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "11", @id = "Output" } })
        <label class="mdl-textfield__label modal_label--underline" for="Output"></label>
    </div>
</div>

