@model Sklep.Models.ViewModel.Admin.SpeakersDetailsViewModel


<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">1:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.TypeOfSepakers, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "1", @id = "TypeOfSepakers" } })
        <label class="mdl-textfield__label modal_label--underline" for="TypeOfSepakers"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">2:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Power, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "2", @id = "Power" } })
        <label class="mdl-textfield__label modal_label--underline" for="Power"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">3:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Microphone, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "3", @id = "Microphone" } })
        <label class="mdl-textfield__label modal_label--underline" for="Microphone"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">4:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "4", @id = "Color" } })
        <label class="mdl-textfield__label modal_label--underline" for="Color"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">5:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.Interface, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "5", @id = "Interface" } })
        <label class="mdl-textfield__label modal_label--underline" for="Interface"></label>
    </div>
</div>
<div class="row">
    <p class="admin_details_list_label admin_details_list_label--addDelivery col-5">6:</p>
    <div class="mdl-textfield mdl-js-textfield col-6  form-inline">
        @Html.EditorFor(model => model.LengthCable, new { htmlAttributes = new { @class = "mdl-textfield__input modal_input add_productSpecification_input", @placeholder = "6", @id = "LengthCable" } })
        <label class="mdl-textfield__label modal_label--underline" for="LengthCable"></label>
    </div>
</div>

