@model IEnumerable<Sklep.Models.ViewModel.ProductRecommededView>
@{
    ViewBag.Title = "Strona główna";
    Layout = "~/Views/Shared/LayoutNotLogged.cshtml";
}
<title>Sklep</title>

<div class="container container--products">
    <div class="col-md-2 offset-md-5 products_title">
        Polecamy
    </div>

    @{ if (ViewBag.Ilosc == 0)
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        }
        else
        {
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 card products_productRecommended">

                        <a href='@Url.Action("SzczegolyProduktu", "Produkt", new { productID = @item.ProductID })' class="product_img">
                            <img class="img-responsive" src="@Url.Content(item.ImagePath)" style="width:100%" alt="Produkt">
                            <div class="card-title products_productRecommended_Title">@item.Name</div>
                        </a>
                        <div class="body">
                            @if (item.OldPriceB != null)
                            {
                                <div class="row">
                                    <div class="products_productRecommended_Price--Old mx-auto">
                                        Cena:&nbsp
                                        <strike> @item.OldPriceB</strike>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="products_productRecommended_Price--New mx-auto">@item.PriceB</div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="products_productRecommended_Price--Old mx-auto">
                                        Cena:&nbsp
                                         @item.PriceB
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mx-auto products_productRecommended_button" id="Button_add_to_cart" type="button" value="Dodaj do koszyka"
                                       onclick="location.href='@Url.Action("DodajDoKoszyka", "Koszyk", new { ProductID = item.ProductID })'" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }




    @Html.Action("ProductsBestseller")

</div>

<script>

    $(function () {

        var linkToDetail = document.getElementById("linkToDetail").innerHTML;
        linkToDetail = linkToDetail.slice(0, -1);
        $("input#searchTerm").autocomplete({

            source: function (request, response) {
                $.ajax({

                    url: '/Produkt/AutocompleteSuggestions',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ term: request.term }),
                    success: function (data) {
                        console.log("otrzymano " + data);
                        response($.map(data, function (item) {

                            console.log("parsowanie " + item);
                            console.log("label: " + linkToDetail);
                            console.log("label1: " + location.href + " " + item.ProductName);
                            return {

                                label: item.ProductName + " bel ",
                                value: linkToDetail + "?productID=" + item.ProductID,
                                desc: item.PriceB
                            }
                        }))
                    },
                    error: function (response) {
                        alert("error" + response.responseText);
                    },
                    failure: function (response) {
                        alert("failuter" + response.responseText);
                    },

                });
            },

            select: function (event, ui) {
                window.location.href = ui.item.value;
            },
            minLength: 2


        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li></li>")
                .append("<div>" + item.label + "<br>" + "byles" + "</div>")
                .appendTo(ul);
        };






        // szukajka

    });

</script>

